/****************************************************************
BEGIN MENU
****************************************************************/
#menuWrap {
	border:1px solid #2C3963;
	border-width:0px 0;
 /* change color of full menu bar */
}
#menu { /* main menu */
	visibility:hidden;
	margin:0;
	padding:0;
}
#menu li {
	margin:0;
	padding:0;
	float:left;
	display:inline;
	list-style:none;
}
#menu li a {
	display:block;
	white-space:nowrap;
	color:#ffffff;
	margin:0;
	padding:7px 10px;
	width:auto;
	font-size:14px;
	text-decoration:none;
}
#menu li.sub a { padding-right:20px; } /* make room for submenu arrows */
#menu li a:hover {
	color:#124d9a;
	background-color:#213866;
}
#menu ul { /* submenus */
	margin:0;
	padding:0;
	visibility:hidden;
	position:absolute;
	clear:both;
	z-index:100;
	background:#1B87D7;
	border:1px solid #333333;
}
#menu ul li {
	float:none;
}
#menu ul li a {
	width:auto;
	padding:7px 10px;
}
#menu ul li a:hover {
	color:#124d9a;
	padding-top:6px;
	padding-bottom:6px;
	border:1px solid #528BFF;
	border-width:1px 0px;
	background-color:#213866;
}

/* adjust individual submenus top-margin spacing if needed */
#menu ul { margin-top:2px; }
#menu ul ul { margin-top:0; }

/** NO ADJUSTMENT NEEDED BELOW FOR MENU **/
#menu li.sub a {
	background-image:url(../images/menu_arrow.gif); 
	background-position:100% 50%; 
	background-repeat:no-repeat; 
}
#menu li.sub ul li.hassub a {
	background-image:url(../images/menu_arrow2.gif); 
	background-position:100% 50%; 
	background-repeat:no-repeat; 
}
#menu li.sub ul li.nosub a {
	background-image:none;
}
#menu.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#menu.clearfix { display: inline-block; }
* html #menu.clearfix { height: 1%; }
#menu.clearfix { display: block; }
/****************************************************************
END MENU
****************************************************************/