@charset "UTF-8";
/* CSS Document */
body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:12px;
}
.black-10 {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:10px;
}
.black-14-caps{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:12px;
  font-variant:small-caps;
}
.black-14{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:14px;
}
.black-16{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:16px;
}
.black-18{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:18px;
}
.blue-12{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#19388A;
}
.blue-14{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#19388A;
}
.blue-16{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:16px;
  color:#19388A;
}
.blue-18{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
  color:#19388A;
}
.blue-24{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:24px;
  color:#19388A;
}
.bluenav-10:link{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:10px;
  text-decoration:underline;
}
.bluenav-10:visited{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:10px;
    text-decoration:underline;
}
.bluenav-10:hover{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#efefef;
  font-size:10px;
  text-decoration:none;
}

.bluenav-12:link{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:12px;
  text-decoration:underline;
}
.bluenav-12:visited{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:12px;
    text-decoration:underline;
}
.bluenav-12:hover{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#efefef;
  font-size:12px;
  text-decoration:none;
}
.bluenav-14:link{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:14px;
  text-decoration:underline;
}
.bluenav-14:visited{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#374A89;
  font-size:14px;
    text-decoration:underline;
}
.bluenav-14:hover{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#efefef;
  font-size:14px;
  text-decoration:none;
}
.whitenav-12:link{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:12px;
  text-decoration:none;
}
.whitenav-12:visited{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:12px;
    text-decoration:none;
}
.whitenav-12:hover{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:12px;
  text-decoration:underline;
}
.whitenav-14:link{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:14px;
  text-decoration:none;
}
.whitenav-14:visited{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:14px;
    text-decoration:none;
}
.whitenav-14:hover{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size:14px;
  text-decoration:underline;
}
.white-blue-14{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#FFFFFF;
  font-size:14px;
  padding-left: 5px;
  padding-right: 5px;
  font-variant: small-caps;
  text-decoration:none;
}
h1{
  font-family:verdana;
  color:#2E6E99;
  font-size: 18px;
  margin-left: 5px;
  line-height: 1px;
  vertical-align:middle;
  padding:0px;
}
h2{
  font-family:verdana;
  color:#FFFFFF;
  font-size: 16px;
  margin-left: 5px;
  line-height: 1px;
  vertical-align:middle;
  padding:0px;
}
h3{
  font-family:verdana;
  color:#FFFFFF;
  font-size: 14px;
  margin-left: 5px;
  line-height: 1px;
  vertical-align:middle;
  padding:0px;
}